@import url('global.css'); 

.nav-links li a.active {
    color: var(--blog-primary-color);
    background-color: var(--blog-secondary-color); 
}

.nav-links a.active, 
.nav-links a:hover {
    color: var(--blog-primary-color);
    background-color: var(--blog-secondary-color); 
}

.login {
    color: var(--blog-primary-color);
    background-color: var(--blog-secondary-color); 
}

body {
    background-color: var(--blog-primary-color);
}
