@import url('global.css');

/* General body styles to center content and create a full-page layout */
body {
    background-color: var(--support-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Universal box-sizing rule for all elements and pseudo-elements */
*,
*::before,
*::after {
    box-sizing: border-box; 
}

.booking-image {
    width: 50%;
}

.booking-container {
    max-width: 650px;
    width: 50%;
    margin: 40px auto;
    padding: 30px 30px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: right;
    overflow: hidden;
}

h1 {
    color: var(--support-tertiary-color);
    font-family: "Agbalumo", serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

/* Form layout with flexbox to arrange elements vertically */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styling the labels for form inputs */
label {
    font-weight: 300;
    text-align: left;
    display: block;
    color: var(--support-label-color);
    margin-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

/* General input and textarea styling with padding and border-radius */
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

input::placeholder {
    color: #8e8e8e;
}

input:not(:placeholder-shown) {
    color: var(--p-color);
}

input[type="date"] {
    color: #8e8e8e;
  }

  input[type="date"]:valid {
    color: var(--p-color);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: grayscale(100%);
    opacity: 0.6;
  }
  

  input[type="date"]:valid::-webkit-calendar-picker-indicator {
    filter: none;
    opacity: 1;
  }

/* Styling for select dropdown elements */
select {
    color: #8e8e8e;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

select:valid {
    color: var(--p-color);
}
  
  select option:disabled {
    color: #8e8e8e;
}

.input-group, .therapy-group {
    justify-content: center;
    display: flex;
    gap: 10%;
}

.input-group input,
.input-group select {
    flex: 1;
}

.location-group {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.location-group label,
.location-group select {
    width: 100%;
}

.input-group {
    gap: 10%;
}

#city, #location {
    width: 100%; 
}

/* Adjusting the layout of city and location dropdown fields */
.input-group > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#city, #location {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#location {
    margin-top: 5px;
    opacity: 1;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

/* Styling the submit button with hover and active effects */
.submit-btn {
  background-color: var(--support-tertiary-color);
  border: 1px solid var(--support-tertiary-color);
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  display: block;
  margin: 0 auto;
}

.submit-btn:hover {
    background-color: var(--support-secondary-color);
    border-color: var(--support-secondary-color);
}

.submit-btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.submit-btn:active {
  transform: scale(.96);
}

.submit-btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* Success Message */
.hidden {
    display: none;
}

h2 {
    font-family: "Agbalumo", serif;
    font-weight: 200;
}
#success-message {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#success-message p {
    text-align: center;
}

