@import url('global.css'); /* Global stilleri içe aktar */

.forum {
    background-color: var(--forum-primary-color);
    text-align: center;
    padding: 80px 20px;  /* Yüksekliği artırdık */
    position: relative; /* Animasyonlu kalpler için gerekli */
}