/* global.css */
:root {

    --p-color: #373A40;
    --h-color: #333;
    --background-white: #FBFBFB;

    /* Header */
    --navbar-background-color: #F6F5F2;
    --login-button-color: #F2BED1;

    /* Footer */
    --footer-primary-color: #F6F5F2;
    --footer-secondary-color: #333;

    /* Home Page */ 
    --home-primary-color: #F8E8EE;
    --home-secondary-color: #F2BED1;
    --home-tertiary-color: #FDCEDF;
    --home-quaternary-color: #AC1754;
    --home-h1-color: #F37199;
    --home-h2-color: #333;
    --home-circle-color: #ffdac1;
    --home-small-circle-color: #ffb6b9;

    /* Support Page FFF6E3*/
    --support-primary-color: #D4F6FF;
    --support-secondary-color: #344CB7;
    --support-tertiary-color: #A7E6FF;
    --support-h2-color: #95BDFF;
    --support-btn-color: #6ca2f4;
    --support-label-color: #3C4048;


    /* Events Page */
      --events-primary-color: #E0FBE2;
      --events-secondary-color: #79AC78;
      --events-h3-color: #A5DD9B;
      --events-h2-color: #3e553b;
      --events-btn-color: #acd7c2;

    /* Forum Page */
    --forum-primary-color: #DFCCFB;
    --forum-secondary-color: #AD49E1;
    --forum-tertiary-color: #7A1CAC;
    --forum-h2-color: #AA60C8;


    /* Blog Page */
    --blog-primary-color: #FFF6E3;
    --blog-secondary-color: #ED9455;
    --blog-h2-color: #FFB26F;
    --blog-h3-color: #E16A54;



}

body {
    margin: 0;
    padding: 0;
}

p {
    color: var(--p-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.logo {
    font-size: 26px;
    color: #373A40;
    font-family: "Playwrite IT Moderna", serif;
    font-weight: 600;
}

header {
    position: fixed;
    z-index: 1000;
    width:100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--navbar-background-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    list-style: none;
    background: #f1f1f1;
    padding: 8px;
    border-radius: 30px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background 0.3s;
    font-family: "DynaPuff", serif;
    font-weight: 400; 
}

.nav-links a.active, 
.nav-links a:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Login Butonu */
.login {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    transition: opacity 0.3s;
    font-family: "DynaPuff", serif;
    font-weight: 400;
}

.login:hover {
    opacity: 0.8;
}

h2 {
    color: #0073e6;
    text-align: center;
}

p {
    color: #555;
    text-align: justify;
}


/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: var(--footer-primary-color);
    color: var(--footer-secondary-color);
}

/* Shape */

.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    animation: float 6s infinite ease-in-out;
}
.shape.circle {
    width: 10vw; 
    height: 10vw;
    left: 5vw;
    top: 15vh;
    animation-duration: 5s;
    background-color: var(--home-circle-color);
}
.shape.small-circle {
    width: 60px;
    height: 60px;
    background-color: var(--home-small-circle-color);
    right: 15%;
    top: 30%;
    animation-duration: 4s;
}

@keyframes float {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(-10px); opacity: 0.9; }
    100% { transform: translateY(0); opacity: 1; }
}


/* Wave Divider */

.wave-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: transparent; 
}
.wave-img {
    width: 100%;
    height: auto; 
    max-width: 100%; 
    display: block;   
}
